USE [master]
GO
/****** Object:  Database [DethBySec]    Script Date: 16/02/2019 11:24:06 a.m. ******/
CREATE DATABASE [DethBySec]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DethBySec', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DethBySec.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DethBySec_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DethBySec_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DethBySec].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DethBySec]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 16/02/2019 11:24:06 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumnos](
	[id] [int] NULL,
	[nombre] [char](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
