USE [master]
GO
/****** Object:  Database [LBD1821680]    Script Date: 23/02/2019 11:52:26 a.m. ******/
CREATE DATABASE [LBD1821680]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LBD1821680', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LBD1821680.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LBD1821680_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LBD1821680_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LBD1821680].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LBD1821680]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 23/02/2019 11:52:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumnos](
	[idAlumno] [uniqueidentifier] NOT NULL,
	[FechaDeNacimiento] [date] NOT NULL,
	[Nombre] [varchar](10) NOT NULL,
	[ApellidoP] [varchar](15) NOT NULL,
	[ApellidoM] [varchar](15) NOT NULL,
	[NombreCompleto]  AS (((([Nombre]+' ')+[ApellidoP])+' ')+[ApellidoM]),
	[Edad]  AS (datediff(year,[FechaDeNacimiento],getdate())),
PRIMARY KEY CLUSTERED 
(
	[idAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bandas]    Script Date: 23/02/2019 11:52:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bandas](
	[idBanda] [uniqueidentifier] NOT NULL,
	[NumIntegrantes] [tinyint] NOT NULL,
	[OrigenPais] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idBanda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Carreras]    Script Date: 23/02/2019 11:52:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Carreras](
	[idCarreara] [uniqueidentifier] NOT NULL,
	[NombreCarrera] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCarreara] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FacultadesUni]    Script Date: 23/02/2019 11:52:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FacultadesUni](
	[idFacu] [uniqueidentifier] NOT NULL,
	[NombreFacu] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[idFacu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Guitarras]    Script Date: 23/02/2019 11:52:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Guitarras](
	[idGuitarra] [uniqueidentifier] NOT NULL,
	[nombreGuitarra] [varchar](20) NOT NULL,
	[modeloGuitarra] [varchar](15) NOT NULL,
	[colorGuitarra] [varchar](1) NOT NULL,
	[Descripcion]  AS (((([nombreGuitarra]+' ')+[modeloGuitarra])+' ')+[colorGuitarra]),
PRIMARY KEY CLUSTERED 
(
	[idGuitarra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Guitarristas]    Script Date: 23/02/2019 11:52:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Guitarristas](
	[idGuitarrista] [uniqueidentifier] NOT NULL,
	[NombreGuitarrista] [varchar](20) NOT NULL,
	[Banda] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idGuitarrista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Maestros]    Script Date: 23/02/2019 11:52:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Maestros](
	[idMaestro] [uniqueidentifier] NOT NULL,
	[FechaDeNacimiento] [date] NOT NULL,
	[Nombre] [varchar](10) NOT NULL,
	[ApellidoP] [varchar](15) NOT NULL,
	[ApellidoM] [varchar](15) NOT NULL,
	[NombreCompleto]  AS (((([Nombre]+' ')+[ApellidoP])+' ')+[ApellidoM]),
	[Sueldo] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[idMaestro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Salones]    Script Date: 23/02/2019 11:52:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salones](
	[idSalon] [uniqueidentifier] NOT NULL,
	[numSalon] [tinyint] NOT NULL,
	[HoraDeIngreo] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSalon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UbicacionUni]    Script Date: 23/02/2019 11:52:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UbicacionUni](
	[Estado] [varchar](15) NOT NULL,
	[Municipio] [varchar](15) NOT NULL,
	[Calle] [varchar](15) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Universidades]    Script Date: 23/02/2019 11:52:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Universidades](
	[idUni] [uniqueidentifier] NOT NULL,
	[NombreUni] [varchar](60) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
